.flexgrid {
    display: flex;
    flex-wrap: wrap;
    width: 100%;

}

.flex-item {
    flex: 0 0 calc(100%/16);
    aspect-ratio: 1/1;

    background-color: lightgreen;
    border: 1px solid darkgreen;
    box-sizing: border-box;


}