.flexgrid {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;

}

.flex-item {
    width: calc(33.33% - 10px);
    padding: 20px;
    background-color: lightblue;
    border: 1px solid blue;
    box-sizing: border-box;


}