.flexgrid {
    display: flex;
    flex-wrap: wrap;
    width: 960px;
    height: 960px;
    margin: 20px auto;
}

.flex-item {
    background-color: lightgreen;
    border: 1px solid darkgreen;
    box-sizing: border-box;
}